@font-face {
  font-family: 'NanumSquareNeo';
  src: url('/fonts/NanumSquareNeo-Regular.woff2') format('woff2');
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: 'NanumSquareNeo';
  src: url('/fonts/NanumSquareNeo-Light.woff2') format('woff2');
  font-weight: 300; /* Light */
  font-style: normal;
}

@font-face {
  font-family: 'NanumSquareNeo';
  src: url('/fonts/NanumSquareNeo-Bold.woff2') format('woff2');
  font-weight: 700; /* Bold */
  font-style: normal;
}

@font-face {
  font-family: 'NanumSquareNeo';
  src: url('/fonts/NanumSquareNeo-ExtraBold.woff2') format('woff2');
  font-weight: 800; /* ExtraBold */
  font-style: normal;
}

@font-face {
  font-family: 'NanumSquareNeo';
  src: url('/fonts/NanumSquareNeo-Black.woff2') format('woff2');
  font-weight: 900; /* Black */
  font-style: normal;
}

@font-face {
  font-family: 'NexonLv1Gothic';
  src: url('/fonts/NexonLv1Gothic-Light.woff2') format('woff2');
  font-weight: 300; /* Light */
  font-style: normal;
}

@font-face {
  font-family: 'NexonLv1Gothic';
  src: url('/fonts/NexonLv1Gothic-Regular.woff2') format('woff2');
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: 'NexonLv1Gothic';
  src: url('/fonts/NexonLv1Gothic-Bold.woff2') format('woff2');
  font-weight: 700; /* Bold */
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSans';
  src: url('/fonts/GmarketSans-Light.woff2') format('woff2');
  font-weight: 300; /* Light */
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSans';
  src: url('/fonts/GmarketSans-Medium.woff2') format('woff2');
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSans';
  src: url('/fonts/GmarketSans-Bold.woff2') format('woff2');
  font-weight: 700; /* Bold */
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --fontN: 'NanumSquareNeo', sans-serif;
  --fontX: 'NexonLv1Gothic', sans-serif;
  --fontG: 'GmarketSans', sans-serif;
  --fontP: 'Poppins', sans-serif;
}

body {
  font-family: var(--fontP), var(--fontN), Arial, Helvetica, sans-serif;
}

.line {
  position: relative;
}
.line::after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 1px;
  background-color: #00000038;
  z-index: -1;
}
pre {
  border-radius: 5px;
  padding: 10px 18px !important;
}

@layer base {
  :root {
    --black100: #111;
    --black200: #444;
    --black300: #666;
    --black400: #bbb;
    --black500: #eee;
    --white100: #f1f1f1;
    --white200: #e7e7e7;
    --white300: #dddddd;
    --white400: #d1d1d1;
    --white500: #c7c7c7;
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --black100: #111;
    --black200: #444;
    --black300: #666;
    --black400: #bbb;
    --black500: #eee;
    --white100: #f1f1f1;
    --white200: #e7e7e7;
    --white300: #dddddd;
    --white400: #d1d1d1;
    --white500: #c7c7c7;
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  /* header */
  .header__nav {
    @apply fixed font-nanum font-bold md:absolute md:bottom-auto bottom-0 w-full md:top-[100px] z-50;
  }
  .header__nav ul {
    @apply flex md:justify-center justify-evenly bg-slate-900/20 backdrop-blur-md md:bg-transparent md:backdrop-blur-0;
  }
  .header__nav ul li a {
    @apply md:bg-background md:py-0 py-3 bg-transparent px-2  text-sm inline-block;
  }
  .header__nav ul li a:hover {
    @apply text-gray-600;
  }
  .header__nav ul li.active a {
    @apply underline underline-offset-4;
  }
  .header__nav ul li:first-child a {
    @apply pl-6;
  }
  .header__nav ul li:last-child a {
    @apply pr-6;
  }

  .main__container {
    @apply max-w-6xl mx-auto mt-7 sm:mt-14 p-4 min-h-[40vh];
  }

  .footer__container {
    @apply max-w-6xl mx-auto p-4 mt-20;
  }

  .circle {
    @apply w-9 h-9 bg-background rounded-full items-center justify-center border ring ring-gray-300/20 hover:ring-gray-300/60 flex cursor-pointer;
  }
  .uline {
    @apply underline underline-offset-4;
  }
  .small {
    @apply text-black300 text-[10px];
  }
}
